html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	background: #5d5c61;
}

*, *::after, *::before {
	box-sizing: inherit;
}

.cmd-palette-container {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
.cmd-palette {
	margin: 0 auto;
	width: 85vw;
	height: 35vw;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
	background: #928d93;
	display: flex;
	flex-direction: column;
}
.cmd-palette input {
	flex: 0 1 auto;
	margin: 5px;
	padding: 5px;
	border: #557a95;
	background: #5d5c61;
	outline: none;
	color: white;
}
.cmd-palette div {
	flex: 1 1 auto;
	overflow: auto;
}

.app {
	display: flex;
	height: 100%;
}

.app .sidebar {
	flex: 0 0 auto;
	min-width: 200px;
	width: 15vw;
	background: white;
}
.app main {
	flex: 1 1 auto;
}
